<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Collect Plants</title>
  </head>
  <body>
    <div class="wrapper hidden">
      <img src="../png/cloud_l.png" alt="cloud" class="cloud cloud_1" />
      <img src="../png/cloud_l2.png" alt="cloud" class="cloud cloud_2" />
      <img src="../png/cloud_r.png" alt="cloud" class="cloud cloud_3" />
      <img src="../png/cloud_r2.png" alt="cloud" class="cloud cloud_4" />

      <img src="../png/stick_side.png" alt="side" class="side side_1" />
      <img src="../png/stick_side.png" alt="side" class="side side_2" />

      <div class="sell_tab">
        <div class="sell_tab_question">Are you sure you want to sell this flower?</div>
        <div class="sell_tab_yes block">Yes</div>
        <div class="sell_tab_no block">Not now</div>
      </div>

      <div class="header">
        <div class="volume_cont"></div>

        <div class="balance_field block">
          <img src="../png/currency.png" alt="currency" class="balance_pic" />
          <div class="balance"></div>
        </div>

        <div class="level"></div>
      </div>

      <div class="row row_1">
        <div class="flower flower_1"></div>
        <div class="flower flower_2"></div>
        <div class="flower flower_3"></div>

        <img src="../png/shelf.png" alt="shelf" class="shelf" />
      </div>

      <div class="row row_2">
        <div class="flower flower_1"></div>
        <div class="flower flower_2"></div>
        <div class="flower flower_3"></div>

        <img src="../png/shelf.png" alt="shelf" class="shelf" />
      </div>

      <div class="row row_3">
        <div class="flower flower_1"></div>
        <div class="flower flower_2"></div>
        <div class="flower flower_3"></div>

        <img src="../png/shelf.png" alt="shelf" class="shelf" />
      </div>

      <div class="footer">
        <div class="nav nav_1 block">
          <img src="../png/logo_plant.png" alt="logo" />
        </div>

        <div class="nav nav_2 block">
          <img src="../png/logo_rainbow.png" alt="logo" />
        </div>

        <div class="goods goods_1">
          <div class="title">Plant collection</div>

          <div class="good" data-item="sunflower">
            <div class="good_logo block">
              <img src="../png/logo_plant_1.png" alt="logo" />
            </div>

            <div class="good_name">Sunflower plant</div>

            <div class="good_button">
              <img src="../png/currency.png" alt="currency" />
              <div class="good_price">500</div>
            </div>
          </div>

          <div class="good" data-item="rose">
            <div class="good_logo block">
              <img src="../png/logo_plant_2.png" alt="logo" />
            </div>

            <div class="good_name">Rose Plant</div>

            <div class="good_button">
              <img src="../png/currency.png" alt="currency" />
              <div class="good_price">600</div>
            </div>
          </div>

          <div class="good" data-item="tomato">
            <div class="good_logo block">
              <img src="../png/logo_plant_3.png" alt="logo" />
            </div>

            <div class="good_name">Tomato plant</div>

            <div class="good_button">
              <img src="../png/currency.png" alt="currency" />
              <div class="good_price">750</div>
            </div>
          </div>
        </div>

        <div class="goods goods_2 none">
          <div class="title">Boosters</div>

          <div class="good" data-item="booster">
            <div class="good_logo block">
              <img src="../png/logo_booster_1.png" alt="logo" />
            </div>

            <div class="good_name">Fertlizzer</div>

            <div class="good_button">
              <img src="../png/currency.png" alt="currency" />
              <div class="good_price">500</div>
            </div>
          </div>

          <div class="good" data-item="booster">
            <div class="good_logo block">
              <img src="../png/logo_booster_2.png" alt="logo" />
            </div>

            <div class="good_name">Intensive watering</div>

            <div class="good_button">
              <img src="../png/currency.png" alt="currency" />
              <div class="good_price">500</div>
            </div>
          </div>

          <div class="good" data-item="booster">
            <div class="good_logo block">
              <img src="../png/logo_booster_3.png" alt="logo" />
            </div>

            <div class="good_name">Repellant</div>

            <div class="good_button">
              <img src="../png/currency.png" alt="currency" />
              <div class="good_price">500</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../scripts/main.js"></script>
  </body>
</html>
