<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/plant.css" />
    <title>Track Plants Water</title>
  </head>
  <body>
    <div class="wrapper hidden">
      <a href="./main.html" class="home"></a>
      
      <div class="header">Collection</div>

      <div class="plants"></div>

      <div class="info">Tap on any bar to reload it</div>
    </div>

    <script src="../scripts/plant.js"></script>
  </body>
</html>
