@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.ttf");
}

@font-face {
  font-family: "Script";
  src: url("../fonts/scriptmtbold.ttf");
}

body {
  background: radial-gradient(
    107.53% 50% at 50% 50%,
    #fbc02d 0%,
    #f3a100 90.4%
  );

  font-family: "Roboto";
  font-style: normal;

  color: #fff;
  text-align: center;

  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  width: 100%;
  height: max(800px, 100vh);

  overflow: hidden;
}

* {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: #fff;
}

.hidden {
  opacity: 0;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  position: absolute;
  left: 15px;
  top: 15px;

  width: 20px;
  height: 20px;

  background: url(../png/cross.png) center/100%;
}

.header {
  font-size: 24px;
  font-weight: 800;
  font-family: "Script";

  margin: 20px auto;
}
