.wrapper {
  height: auto;
  overflow: auto;
  color: #4e342e;
}

.text {
  width: 90%;
  margin: 20px auto;

  font-weight: 400;
  text-align: left;
}

.button {
  width: 269px;
  height: 49px;

  font-size: 2rem;
  color: #fbc02d;
  margin: 20px auto;
  background: #4e342e;
  border-radius: 20px;
}
